openchrom/plugins/net.openchrom.xxd.converter.supplier.ascii.fragment.test/bin/
openchrom/plugins/net.openchrom.xxd.converter.supplier.ascii.ui.fragment.test/bin/
openchrom/plugins/net.openchrom.xxd.converter.supplier.ascii.ui/bin/
openchrom/plugins/net.openchrom.xxd.converter.supplier.ascii/bin/
openchrom/plugins/net.openchrom.xxd.converter.supplier.ascii.fragment.test/Openchrom.log
openchrom/plugins/net.openchrom.xxd.converter.supplier.ascii.fragment.test/Openchrom.log*
openchrom/sites/net.openchrom.xxd.converter.supplier.ascii.updateSite/artifacts.jar
openchrom/sites/net.openchrom.xxd.converter.supplier.ascii.updateSite/content.jar
openchrom/sites/net.openchrom.xxd.converter.supplier.ascii.updateSite/features/
openchrom/sites/net.openchrom.xxd.converter.supplier.ascii.updateSite/plugins/
openchrom/features/net.openchrom.xxd.converter.supplier.ascii.feature/target/
openchrom/plugins/net.openchrom.xxd.converter.supplier.ascii.ui/target/
openchrom/plugins/net.openchrom.xxd.converter.supplier.ascii/target/
openchrom/sites/net.openchrom.xxd.converter.supplier.ascii.updateSite/target/
